@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Permanent+Marker&display=swap');

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: black;
  text-align: center;
  padding-top: 5px;
  line-height: 10%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: black;
  margin-left: 25px;
  text-align: center;
  padding-top: 5px;
  line-height: 80%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: rgb(96, 96, 96);
  text-align: center;
  line-height: 50%;
}
  
.topnav {
  position: fixed;
  top: 0;
  padding: 8px;
  font-size: 24px;
  background-color: #db7e26c5;
  width: 100%;
  height: 4%;
  z-index: 1;
}

.gb1 {
  margin-top: 1px;
  margin-left: 67%;
  justify-self: right;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  color:#e5bb50;
  text-shadow: 3px 3px #b98c1b
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  list-style: none;
  line-height: 130%;
  text-align: center;
  font-size: 18px;
  background-color: #fbf6e8;
  border: 1px grey;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  box-shadow: 5px 5px 10px  #d2d2d279;
}

form {
  font-family: 'Montserrat';
  margin-left: 50px;
}

.admin-list {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  gap: 30px;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.card1, .card2, .card3, .card4 {
  border-radius: 12px;
  display: inline-flex;
  background-position: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.card1:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);  
  background-image: url("/static/images/3-bags.png");
  background-size: contain;
  opacity: 0.6;
  padding: 16px;
  transition: 0.5s ease-in;
  text-align: center;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}

.card2:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);  
  background-image: url("/static/images/fudge.png");
  background-size: contain;
  background-position: center;
  opacity: 0.6;
  padding: 16px;
  transition: 0.2s ease-in-out;
  text-align: center;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}

.card3:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);  
  background-image: url("/static/images/manage-suppliers.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  padding: 16px;
  transition: 0.2s ease-in-out;
  text-align: center;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}

.card4:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);  
  background-image: url("/static/images/new-supplier.jpg");
  background-size: cover;
  opacity: 0.6;
  padding: 16px;
  transition: 0.2s ease-in-out;
  text-align: center;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}

a:link {
  color: gray;
  text-decoration: none;
}

.product {
  margin-top: 3%;
}

.product-list {
  align-content: auto;
}

.edit {
  margin-left: 50px;
}

.edit:hover {
  color: goldenrod;
}

.supplier {
  align-content: auto;
}

.back {
  margin-left: 50px;
}

.back-products {
  margin-left: 50px;
  line-height: 200%;
}

.back-suppliers {
  margin-left: 50px;
  line-height: 200%;
}

.back-homepage {
  margin-left: 50px;
}

.back:hover {
  color: goldenrod;
}

a:visited {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: goldenrod;
  text-decoration: underline;
}

.product {
  margin-left: 50px;
}

.button {
  appearance: none;
  background-color: goldenrod;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: goldenrod;
  opacity: 1;
}

.button:active {
  background-color: goldenrod;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.footer {
  text-align: center;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 90px;
  background-color: goldenrod;
}
  