{% extends "base.html" %}

{% block content %}

<h1><span style="font-family: 'Permanent Marker', cursive; font-size: 55px; color:#e5bb50; text-shadow: 3px 3px #b98c1b">Golden Basket</span></h1>
<br>
<h2><strong>Manage suppliers</strong></h2>

<body>
<form action="/suppliers/{{supplier.id}}" method="POST">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{supplier.name}}" placeholder="Supplier name" required>
  </div>

<br>

  <div>
    <label for="contact_no">Contact details:</label>
    <input type="text" id="contact_details" name="contact_details" placeholder="Supplier contact details" required>
  </div>
<p><i> Note: You cannot <strong>remove</strong> a supplier without first removing its associated products</i></p>
  <input class="button" type="submit" value="Update Supplier"/>
</form>
<br>
<form action="/suppliers/{{ supplier.id }}/delete" method="POST">
  <input class="button" type="submit" value="Remove Supplier"/>
</form>
<br>
<a href="/suppliers" class="back-suppliers">Back to suppliers</a>
<br>
<a href="/" class="back-homepage">Back to home</a>
</body>
{% endblock %}
